# .github/workflows/snake.yml
name: Generate Snake Animation

on:
  schedule:
    # Roda a cada 12 horas (para atualizar a animação com novas contribuições)
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Platane/snk@v3
        with:
          # Seu nome de usuário do GitHub
          github_user_name: fesperli 
          # Onde o arquivo SVG/GIF será salvo
          outputs: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake.gif
